DIGITAL_OCEAN_ACCESS_ENDPOINT=digital_ocean_access_endpoint_here
DIGITAL_OCEAN_ACCESS_KEY=digital_ocean_access_key_here

DISCORD_APPLICATION_ID=discord_application_id_here
DISCORD_TOKEN=discord_bot_token_here

INFERENCE_MAX_CONTEXT_CHAIN_DEPTH=4
INFERENCE_USE_CONTEXT_CHAIN=1
